@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    /* Home page */
    .nav_li{
       @apply p-[30px] border-b-[1px] border-b-gray-600 hover:bg-[#8181816c] hover:cursor-pointer tracking-widest
       sm:border-0  sm:hover:border-b-2 sm:hover:border-b-white  sm:hover:bg-[#131522] sm:px-6 sm:pt-3  sm:text-sm
       lg:hover:bg-transparent 
    } 
    .numbers{
        @apply sm:hidden
        lg:inline-block lg:font-bold
    }
    /* Destination Page */
    .destination-li{
        @apply cursor-pointer sm:hover:border-b-2 sm:hover:border-b-white lg:mr-7 lg:text-sm lg:pb-2 
    }
    /* crws page */
    .dots{
        @apply w-2 h-2 bg-gray-500 rounded-full bg-opacity-50 hover:bg-white cursor-pointer
    }
    /* Technology page */
    .technology-btn{
        @apply w-9 h-9 p-1  rounded-full border-2 border-white border-opacity-25 text-opacity-90 text-white text-center cursor-pointer font-[500] hover:bg-white hover:text-black font-['Gothic_A1']
        lg:w-14 lg:h-14 lg:p-3 lg:text-2xl lg:font-[300]
    }
}
